#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}

.first-photo{
  max-width: 200px;
}
.container{
  display:flex;
  gap: 10px;
}

.img-iii{
  max-width: 300px;
}
.section{
  max-width: 350px;
}

.section-ii{
  max-width: 350px;
}

.section-iii{
  max-width: 350px;
}

.img-ii{
  width: 300px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
